.content-card {
  width: 90%;
  height: 40px;
}

.bold{
  font-weight: bold;
}

.item {
  background-color: rgb(235, 218, 251);
  margin-bottom: 10px;
}

.item p {
  display: inline;
  margin-right: 10px
}

th, td{
  padding: 10px 20px;
  text-align: center;
}

.action-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.action-bar button {
  width: 150px;
}