<form [formGroup]="form">
    <div >
        <mat-form-field appearance="fill">
            <mat-label>Транслитерација знака*:</mat-label>
            <input matInput formControlName="transliteracija">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label> Превод знака*:</mat-label>
            <input matInput formControlName= "prevod">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Опис знака:</mat-label>
            <input matInput formControlName="opis_znaka">
        </mat-form-field>
    </div>
</form>