<form [formGroup]="form">
    <mat-card>
      <mat-stepper color="primary" orientation="vertical">
        <mat-step>
          <ng-template matStepLabel>Подносилац пријаве</ng-template>
          <ng-template matStepContent>
            <app-podaci-info [form]="form"></app-podaci-info>
            <div>
                <button mat-button matStepperNext>Даље</button>
            </div>  
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Пуномоћник</ng-template>
          <ng-template matStepContent>
            <app-podaci-info [form]="form"></app-podaci-info>
            <div>
                <button mat-button matStepperNext>Даље</button>
            </div>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Заједничи посредник</ng-template>
          <ng-template matStepContent>
            <app-podaci-info [form]="form"></app-podaci-info>
            <div>
                <button mat-button matStepperNext>Даље</button>
            </div>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Изглед жига</ng-template>
          <ng-template matStepContent>
            <app-zig-type [form]="form"></app-zig-type>
            <div>
                <button mat-button matStepperNext>Даље</button>
            </div>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Додатни опис жига</ng-template>
          <ng-template matStepContent>
            <app-zig-description  [form]="form"></app-zig-description>
            <div>
                <button mat-button matStepperNext>Даље</button>
            </div>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Бројеви класа робе и услуга према Ничанској класификацији</ng-template>
          <ng-template matStepContent>
            <app-nincanska-classification [form]="form"></app-nincanska-classification>
            <div>
                <button mat-button matStepperNext>Даље</button>
            </div>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Затражено право првенства и основ</ng-template>
          <ng-template matStepContent>
            <app-zig-pavo-i-osnov [form]="form"></app-zig-pavo-i-osnov>
            <div>
                <button mat-button matStepperNext>Даље</button>
            </div>
          </ng-template>
        </mat-step>
      </mat-stepper>
    </mat-card>
  </form>
  