<form [formGroup]="form">
    <label>Adresa: </label>
    <div >
        <mat-form-field appearance="fill">
            <mat-label>Ulica</mat-label>
            <input matInput formControlName="street">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Poštanski broj</mat-label>
            <input matInput formControlName= "postalCode">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Grad</mat-label>
            <input matInput formControlName="city">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Država</mat-label>
            <input matInput formControlName="country">
        </mat-form-field>
    </div>
    <label>Kontakt: </label>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Telefon</mat-label>
            <input matInput formControlName= "phone">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Fax</mat-label>
            <input matInput formControlName="fax">
        </mat-form-field>
    </div>
</form>