<mat-toolbar color="primary" class="flexExpand">
  <div>
    <span style="margin-right: 10px">еУправа</span>
    <span *ngIf="loggedService.isTokenPresent">
      <button mat-button [matMenuTriggerFor]="patent">Сервис за патенте</button>
      <mat-menu #patent="matMenu">
        <button mat-menu-item [routerLink]="['/allPatents']">
          Преглед захтева
        </button>
        <button
          mat-menu-item
          *ngIf="loggedService.user?.role === 'citizen'"
          [routerLink]="['/patentRequest']"
        >
          Поднеси захтев
        </button>
        <button
          mat-menu-item
          *ngIf="loggedService.user?.role === 'official'"
          [routerLink]="['/allPatents']"
        >
          Преглед извештаја
        </button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="zig">Сервис за жигове</button>
      <mat-menu #zig="matMenu">
        <button 
        mat-menu-item
        *ngIf="loggedService.user?.role === 'citizen'"  [routerLink]="['/newZigRequest']">
        Поднеси захтев за признање жига
      </button>
      <button 
      mat-menu-item
      *ngIf="loggedService.user?.role === 'citizen'" [routerLink]="['/allZigRequests']">
      Увид у захтеве
      </button>
      <button 
      mat-menu-item
      *ngIf="loggedService.user?.role === 'official'"  [routerLink]="['/allZigRequests']">
      Увид у захтеве
      </button>
        <button 
        mat-menu-item
        *ngIf="loggedService.user?.role === 'official'"  [routerLink]="['/zigReports']">
        Увид у извештаје
        </button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="autorska">
        Сервис за ауторска права
      </button>
      <mat-menu #autorska="matMenu">
        <button mat-menu-item [routerLink]="['/a']" *ngIf="loggedService.user?.role === 'citizen'">Поднеси захтев</button>
        <button mat-menu-item [routerLink]="['/autorskaApproved']" *ngIf="loggedService.user?.role === 'citizen'">Преглед прихваћених</button>
        <button mat-menu-item [routerLink]="['/autorskaRequests']" *ngIf="loggedService.user?.role !== 'citizen'">Преглед необрађених</button>
        <button mat-menu-item [routerLink]="['/autorskaApproved']" *ngIf="loggedService.user?.role !== 'citizen'">Преглед прихваћених</button>
        <button mat-menu-item [routerLink]="['/autorskaReport']" *ngIf="loggedService.user?.role !== 'citizen'">Увид у извештаје</button>      
      </mat-menu>
    </span>
  </div>
  <div
    *ngIf="loggedService.isTokenPresent"
    (click)="logout()"
    style="display: inline-block; margin-left: 1.6em"
    class="logout"
  >
    Одјави се
    <fa-icon
      class="icon-button"
      [icon]="logoutIcon"
      style="margin-left: 6px"
    ></fa-icon>
  </div>
</mat-toolbar>
