<div class="main-container">
  <h1 style="font-size: 42px; margin-top: 10px">Преглед захтева</h1>

  <div
    [formGroup]="form"
    style="
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    "
    *ngIf="showPretraga"
  >
    <mat-form-field style="margin-right: 10px" appearance="outline">
      <mat-label>Статус патента</mat-label>
      <mat-select [disabled]="disableStatusSelect" formControlName="status">
        <mat-option *ngFor="let item of statusOptions" [value]="item.status">{{
          item.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="search" appearance="outline">
      <mat-label>Претрага</mat-label>
      <input matInput formControlName="pretraga" />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      style="margin-left: 8px; margin-bottom: 21px; display: block"
      (click)="search()"
    >
      Претражи
    </button>
  </div>
  <mat-card class="content-card" *ngIf="patenti.length > 0">
    <div *ngFor="let item of patenti; let i = index" style="width: 100%">
      <app-zahtev-kartica
        [zahtev]="item"
        [backgroundColor]="i % 2 === 0 ? 'light' : 'dark'"
      ></app-zahtev-kartica>
    </div>
  </mat-card>
  <h1 *ngIf="patenti.length < 1">Није пронађен ни један патент у бази!</h1>
</div>
