<div class="date-range-picker">
    <mat-form-field appearance="fill">
        <mat-label>Unesite opseg datuma</mat-label>
        <mat-date-range-input [formGroup]="range" [max]="max" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="generateReport()">Генериши извештај</button>
</div>